html,body{font-family: verdana; font-size: 9pt; color: #444; background-color: #ccc; }
td{width: 100px;background-color: #eee;font-size: 8pt;}       
#init{background-color: #fff;border: 2px solid #aaa; padding: 20px;width: 280px;min-height: 200px;float: left;margin: 12px;}
#ajax{background-color: #fff;border: 2px solid #aaa; padding: 20px;width: 280px;min-height: 200px;float: left;margin: 12px;}
#progress{background-color: #fff;border: 1px solid #888; padding: 15px;width: 600px;min-height: 60px;margin: 30px auto;}
#geo{background-color: #fff;border: 2px solid #aaa; padding: 20px;width: 80%;min-height: 200px;float: left;margin: 12px;}
h2{font-size: 13pt;text-shadow: 3px; }