.main {font-size: 12px; font-family: Verdana, Arial; font-weight: bold}
html { height: 100%; margin-bottom: 1px; }
body {font-size: 12px; font-family: Verdana, Arial;background-color: #eee; }
ul{
	list-style-type: none;
	list-style: none;
	padding: 0px;
	margin: 0px;
}
 td {font-size: 12px; font-family: Verdana, Arial;height:18px; padding: 2px 6px 2px 6px;}
a:visited{color:#000066}
a:hover{text-decoration: underline}
a {text-decoration: none; color:#000090; }
.white {background-color: #FFFFFF}
.grey {background-color: #F2F2F2}
#main table.darkgrey {background-color: #fff;  -moz-box-shadow: 6px 6px 6px #fff;  border: 0px;
    -webkit-box-shadow: 6px 6px 6px #fff;
    box-shadow: 6px 6px 6px #fff;}
.darkgrey td {padding: 8px; border: 0px;}
.greyHeading {
	background-color: #EEE; 
	padding: 4px;
}

#topstats{background-color: #fff;
    padding: 5px;
    position:absolute;
    right: 30px;top: 5px;
     border: 1px solid #ccc;  
      -moz-box-shadow: 6px 6px 10px #ddd;
    -webkit-box-shadow: 6px 6px 10px #ddd;
    box-shadow: 6px 6px 10px #ddd;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
#logo_top{
	  position:absolute;
      left: 30px;top: 10px;
  
}
#topstats table{
   border: 0;
    
}
#topstats td{
  font-size: 8pt;color: #444;padding: 0;border: 0;
}

a#small_button{
	padding: 1px;
	font-size: 12px;
	font-weight: bold;
	color: #00B;
	text-decoration: none;
	text-align: center;

}

a#small_button:hover{
	text-decoration:underline;
}


div.fields label{
	width:40em;
	float:left;
	text-align:right;
	margin-right:1em;
}

input#text {
	background:#f5f5f5;
	font-size:1em;
	margin-bottom:0.5em;
}

input#radio {

}

input:active,input:focus,textarea:active,textarea:focus{
	background:#FFFFBB;
}
div.clear{clear:both;}

.left1 {
	text-align:right;
}

.tableSubHeading {
	background: #eee; 
	font-weight:bold; 
	padding:2px;
	margin-top:5px;
	border: 1px solid #969696;
}

.tableSubSubHeading {
	background: #F2F2F2; 
	font-weight:bold; 
	padding:5px;
}


.field1{
	border:1px solid #969696; 
	background:#f5f5f5
}

div#settings{
	width:800px;
	border:1px solid #ccc;
	background:#ffffff;
	padding:20px;
	margin:0 auto;
     -moz-box-shadow: 6px 6px 10px #ddd;
                                -webkit-box-shadow: 6px 6px 10px #ddd;
                                box-shadow: 6px 6px 10px #ddd;
}


div.indexoptions{
	padding:20px;
	width:550px;
	border:1px solid #ccc;
	background:#ffffff;
	margin:0 auto;
     -moz-box-shadow: 6px 6px 10px #ddd;
                                -webkit-box-shadow: 6px 6px 10px #ddd;
                                box-shadow: 6px 6px 10px #ddd;
}

div#sitelist{
 -moz-box-shadow: 6px 6px 10px #ddd;
                                -webkit-box-shadow: 6px 6px 10px #ddd;
                                box-shadow: 6px 6px 10px #ddd;
}


div#admin{
    padding:10px;
	margin: 65px 15px;
	/*margin:0 auto;
	width:80%;
	background-color:#6f6f6;*/
}

#admin p.warn,#admin p.ok{
	text-align:center;
}



#mainmenu ul li a:hover,#mainmenu ul li a:focus,#mainmenu ul li a:active{
/*color: #930;*/
background: #e5ecf9;
}


#mouse_over{
	/*color: #930;*/
	background: #e5ecf9;
}



#tabs {
	font-family: Verdana, Arial;
	font-size: 12px;
	clear: both;
	text-align: center;
} 
#tabs ul li{  


}

#tabs ul {
	display: inline;
	list-style-type: none;
	margin: 0;
}

#tabs li { 
	float: left; 
	height: 42px;
}

#tabs a { 
	width: 90px; 
}

#tabs a#selected {
	position: relative;
	top: 0px;
	
	float: left;
	background: #999;
	padding: 9px 4px 5px 10px;
	text-decoration: none;
	font-weight: bold;
	color: #fff;height: 24px;
        -moz-box-shadow: 2px -2px 4px #ddd;
    -webkit-box-shadow: 2px -2px 4px #ddd;
    box-shadow: 2px -2px 4px #ddd;
    margin: 4px 4px 1px 3px;
    -moz-border-radius-topright: 6px;
   border-top-right-radius: 6px;
   -moz-border-radius-topleft: 6px;
   border-top-left-radius: 6px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.15, #999),
    color-stop(0.58, #aaa)
);
background-image: -moz-linear-gradient(
    center bottom,
    #999 15%,
    #aaa 58%
);}

#tabs a#default {
background-color: #fff;
	position: relative;
	top: 0;
	margin: 2px 8px 1px 0;
	float: left;
	border-right: 1px solid #bbb;
	border-top: 1px solid #bbb;
	border-left: 1px solid #bbb;
	border-bottom: 1px solid #ccc;
	padding: 9px 4px 3px 10px;
	text-decoration: none;
	font-weight: bold;
	color: #444;height: 24px;
    -moz-box-shadow: 2px -2px 4px #ddd;
    -webkit-box-shadow: 2px -2px 4px #ddd;
    box-shadow: 2px -2px 4px #ddd;
    margin: 4px 4px 1px 3px;
   -moz-border-radius-topright: 6px;
   border-top-right-radius: 6px;
   -moz-border-radius-topleft: 6px;
   border-top-left-radius: 6px;
}

#tabs a:hover {
	
	
    -moz-box-shadow: 2px -2px 7px #bbb;
    -webkit-box-shadow: 2px -2px 7px #bbb;
    box-shadow: 2px -2px 7px #bbb;
}

#tabs a.active {
	position: relative;
	top: 0;
	margin: 0 2px 0 0;
	float: left;
	background: #ccc;
	padding: 6px 4px 6px 10px;
	text-decoration: none;
	color: #333;
	-moz-border-radius-topright: 10px;
   border-top-right-radius: 10px;
   -moz-border-radius-topleft: 10px;
   border-top-left-radius: 10px;

}

#tabs a.active:hover {
	position: relative;
	top: 0;
	margin: 0 2px 0 0;
	float: left;
	border-right: 1px solid #666;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	padding: 6px 4px 6px 10px;
	text-decoration: none;
	color: #333;
}

#main {
	text-align: left;
	border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    clear: both;
	width: 100%;
	margin-top: 2px;
    padding-bottom: 30px;
     -moz-box-shadow: 6px 6px 10px #ddd;
    -webkit-box-shadow: 6px 6px 10px #ddd;
    box-shadow: 6px 6px 10px #ddd;
    background-color: #fff;
}



#indexoptions{
    -moz-box-shadow: 6px 6px 10px #ddd;
    -webkit-box-shadow: 6px 6px 10px #ddd;
    box-shadow: 6px 6px 10px #ddd;
}


#main table {
    text-align: left;
}

#submenu ul {
	list-style-type: none;
	margin:0;
	padding: 0;
}

#submenu li {
	float: left;
	padding: 12px 8px 0 8px;
	/*border-right: 1px solid #d6d6d6;*/
	white-space: nowrap;
	height: 30px;
}
#submenu li a{
	color: #fff;
	font-weight:bold;
/*	border-left:1px solid;
	border-bottom:1px solid;*/
	padding:10px;
	text-decoration:none;
	 -moz-border-radius: 5px;
    border-radius: 5px;
   }


#submenu li a:hover, li a.subselected{
	text-decoration:none;
	   background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.15, #999),
    color-stop(0.58, #aaa)
);
background-image: -moz-linear-gradient(
    center bottom,
    #999 15%,
    #aaa 58%
);

}

/*#submenu li:first-child { border-left: none; }*/

#submenu {
	height:1em;
	padding:7px;
	margin-bottom:10px;	margin-top:10px;
	font-family: Verdana, Arial;
	background: #999;
	color: #fff;
	border-bottom:1px solid #666;
	height: 38px;
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.15, #888),
    color-stop(0.58, #999)
);
background-image: -moz-linear-gradient(
    center bottom,
    #888 15%,
    #999 58%
);//	padding: 5px 7px 7px 7px; /* for All other Browsers */
}


/*
#mainmenu{
margin: 0 auto;
padding: 0;
font-size:0.9em;
height: 2em;
font-family: Verdana, Arial;
}

#mainmenu ul{
border: 0;
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

#mainmenu ul li{
display: inline;
text-align: center;
padding: 0;
margin: 0;
line-height: 2em;
background: #fff;
}

#mainmenu ul li a{
height: 1.1em;
border: 1px solid #969696;
padding: 3px 4px;
margin: 0.1em 0.2em 0.5em 0;
font-size: 12px;
font-weight: bold;
color: #009;
text-decoration: none;
text-align: center;
}

*/

#vertmenu {
	float:right;
		width: 100px;
	margin-left:0;
	padding: 0 0 0 0;
	font-family: Verdana, Arial;
	}

#vertmenu ul{
		list-style: none;
		margin-right:0;
		margin-left:0;
		margin-top: 0;
		padding: 0;
		border: none;
}

#vertmenu li {
    margin-left:0px;
	padding-bottom:1px;
	text-align:left;
}

#vertmenu li a{
		display: block;

	background: #fff;
	border: 1px solid #969696;
	padding: 3px 4px;
	font-size: 12px;
	font-weight: bold;
	color: #009;
	text-decoration: none;
		width: 100%;
}

#vertmenu ul li a:hover,#menu ul li a:focus,#menu ul li a:active{
	background: #e5ecf9;
}


input#submit{
	background:#e5ecf9;
	color:#000;
	font-size:12px;
	padding: 2px;
	font-weight:bold;
	margin:1em 0 0 0em;
}

#statistics_table {
	width: 80%;
	border: 1px solid #333;
	margin: 0 auto;
}

ul#vertmenu{
	margin: 100;
	padding: 0;
	list-style-type: none;
}

#info img{width: 25px;}

.groupeImg{
    color:#aaa;
    font-size:7px;
    width: 100%;
    border:1px solid #444;
    -moz-box-shadow: 6px 6px 10px #ddd;
    -webkit-box-shadow: 6px 6px 10px #ddd;
    box-shadow: 6px 6px 10px #ddd;
}
